.select-blue {
	background-color: #00b5ef;
}

.select-yellow {
	background-color: #f0e936;
}

.select-red {
	background-color: #ee3124;
}



.timesheet-item.red {
	border-left: 5px solid #ee3124;
}

.timesheet-item.yellow {
	border-left: 5px solid #f0e936;
}

.timesheet-item.blue {
	border-left: 5px solid #00b5ef;
}



.timesheet-item .hide {
	background-color: #000;
}

.timesheet-item.red .hide {
	background-color: #ee3124;
}

.timesheet-item.yellow .hide {
	background-color: #f0e936;
}

.timesheet-item.blue .hide {
	background-color: #00b5ef;
}


.job-timer {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	padding-top: 40px;
}

.job-timer .time {
	vertical-align: middle;
}

.timer-slider {
	display: none;
}