<div class="list-block media-list">
	<ul class="timesheets-list <%= data.unsaved %>">

		<% var hasCompletedTitle = false; %>
		<% for (var i = 0; i < data.sheets.length; i ++) { %>
			<%	
				var masterClass = ""
				var disabledSlider = "";

				if ( data.sheets[i].get("isHidden") ) {
					masterClass += "complete ";
				}
				if ( data.sheets[i].get("isTiming") ) { 
					masterClass += "is-timing ";
					disabledSlider = "disabled";
				} 
				if ( data.sheets[i].get("isFavourite") ) { 
					masterClass += "pinned ";
				}
				if (!$("html").hasClass("desktop")){
					masterClass += "swipeout ";
				}
			%>
			
			<% 
				if ( data.sheets[i].get("isHidden") && !hasCompletedTitle ) { 
				hasCompletedTitle = true;
			%>
				<li class="item-divider complete-divider">Completed jobs<span class="close-completed"></span></li>
			<% } %>

			<li class="timesheet-item <%= masterClass %>" id="<%= data.sheets[i].get("_id") %>">
				<div class="swipeout-content">
					<a id="#job/<%= data.sheets[i].get("_id") %>" class="item-link item-content">
		                <div class="item-inner">
		                    <div class="item-title-row">
		                        <div class="item-title"><%= data.sheets[i].get("customTitle") %></div>
		                    </div>
		                    <div class="item-subtitle"><%= data.sheets[i].get("subtitle") %></div>
		                </div>
		                <div class="job-icons">
			                <!-- <span class="job-icons-edit"></span> -->
							<span class="job-icons-favourite favourite hide-for-unsaved"></span>
							<span class="job-icons-complete"></span>
		                </div>
		                <div class="job-timer">
		                	<span class="clock"></span>
		                	<span class="time"><%= data.sheets[i].todaysTime %></span>
		                	<input type="time" class="input-time" style="visibility: hidden;"/>
		                </div>
		            </a>
					<div class="timer-slider">
						<form id="form-<%= data.sheets[i].get("_id") %>">
					        <div class="item-input">
							    <div class="range-slider">
							      <input type="range" name="slider" min="0" max="720" step="10" <%= disabledSlider %> >
							    </div>
							</div>  
						</form>
					</div>
		        </div>
				
				<div class="mobile swipeout-actions-left">
					<a class="swipe-complete swipeout-overswipe"></a>
				</div>
				

				<div class="mobile swipeout-actions-right">
					<a class="swipe-timer swipeout-overswipe"></a>
				</div>

			</li>
		<% } %>

	</ul>
</div>