

  <div class="page">
    <div class="page-content login-screen-content">
      <div class="login-screen-title"><img src="img/logo.jpg"/></div>
      <form class="login">
        <input id="em" type="text" name="username" placeholder="Username" autocomplete="off">
        <input id="pw" type="password" name="password" placeholder="Password" autocomplete="off">
        <a id="submit" class="item-link list-button"><span>Sign In</span><span class="preloader preloader-white"></span></a>
      </form>
    </div>
  </div>

